

<div id="index-form" class="container">
  <u><h2 class= "ui centered header">List of Users</h2></u>
</div>


<ul class= "ui centered sub header">
  <% @users.each do |user| %>
  <li><%= link_to user.username, user %></li>
  <% end %>
</ul>
