<%= link_to "Logout", logout_path %>
<h1>USERS SHOW</h1>

<%= @user.username %>'s profile <br>
<br>

<ul>
  <% @user.lists.each do |list| %>
  <li><%= link_to list.description, list %></li>
  <% end %>
</ul>


<%= render '../comments/new' %>
