<%= link_to "Logout", logout_path %>
<h1>SHOW</h1>

<%= @user.username %>'s profile <br>
<br>

<ul>
  <% @user.lists.each do |l| %>
  <li><%= link_to l.activity.name, l.activity %></li>
  <% end %>
</ul>
