/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {
    background-color: #FE9B2A;
  }

  a {
    color: #1DAE65;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  input#search {
    color: black
  }

  .button {
    border: 1px black;
  }

  #new-item-form {
    margin: 10%;
    border-color: white;
    border-style: solid;
    padding: 2%;
    background-color: #0EB796;
    color: #FE9B2A;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
