<%= link_to "Logout", logout_path %>
<h1>ACTIVITIES SHOW</h1>
Category: <%= @activity.category%><br>
<br>

<% @activity.lists.each do |list| %>
  User: <%= link_to list.user.username, list.user %>
  <br>
  ----<%=link_to list.description, list %><br>
<% end %>
